<section class="login"> 

<h1>LOGIN</h1>
  <form class="pure-form" id="login" method="post" action="/login">
      <fieldset>
          
          <input type="text" placeholder="Email" name="user[email]" class="login-box">
          <input type="password" placeholder="Password" name="user[password]" class="login-box">

          <button type="submit" class="pure-button login">Login</button>
      </fieldset>
  </form>
</section>

