body {
  font-family: disco;
  font-weight: bold;
  background: #F8F8F8;
  height: 100%;
  color: #2D3142;
}

.pure-menu-heading{
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}

.car-list {
  margin: 0 8vw 0 8vw;
  text-align: center
}

.car-item {
  margin: 2vw;
  list-style-type: none;

}

.car-item:nth-child(0) {
  width: 80vw;
  height: 40vh;
}


.car-item:nth-child(-n+2) {
  width: 40vw;
  height: 20vh;
}

#menu, .container {
  display: inline-block;
}

.container {
  width: 85%;
  margin-left: 18%;
}

.pure-menu{
  color: #fff;
}

#menu {
  position: fixed;
  background: #2D3142;
  width: 205px;
  height: 100vh;
  color: white;

}


h1 {
  text-align: center;
}


.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.card {
  margin: 5px;
  text-align: center;
  display: inline-block;
}

/*home*/
section.home h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}

section.home .cars{
  margin-left: 140px;
}


/*login*/
section.login {
  text-align: center;
}

.login-box{
  margin-top: 150px;
  margin-left: 20px;
}

.pure-button.login {
  margin-top: 130px;
  color: #F8F8F8;
}

section.login h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}


/*register*/
section.register {
  text-align: center;
  outline: #F8F8F8;
}

section.register h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}

.pure-button{
  background: #2D3142;
  border-radius: 20px;
  box-shadow: 3px 4px 2px 0px #8D99AE;
  color: #F8F8F8;
  margin: 5px;
  padding: .4em 2em;
}

.pure-button:hover {
  background: #2D3142;
  border-radius: 20px;
  box-shadow: none;

}


/*car profile*/
section.car-profile h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}


/*view with all cars*/
section.all-cars h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}

.all-cars{
  padding: 50px 0px 15px 0px;
}

/*add new car form*/
form{
  font-family: disco;
  border-radius: 3px;
}

input{
  outline-color: #2D3142;
  text-align: center;
  border-radius: 5px; 
  margin-bottom: 20px;
  line-height: 1.5em;
}

section.new-car h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}

/*edit cars form*/
section.edit-cars h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}


/*wishlist*/

form.wishlist{
  text-align: center;
  margin: 20px 0px 30px 0px;
}

li.wishlist{
  padding-top: 5px;
  padding-bottom: 20px;
}

section.wishlist h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}


/*about*/
section.about h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}

section.about p{
 text-align: center;
 margin: 80px 120px 80px 120px;
}



/*contact*/
section.contact h1{
  padding: 40px 0px 40px 0px;
  border-bottom: 3px solid #2D3142;
}

section.contact p{
   text-align: center;
   margin: 80px 120px 80px 120px;
}

