<h1><%= current_user.user_name %>'s Wishlist</h1>

<ul>
  <% current_user.cars.each do |car| %>
  <a href="/cars/<%= car.id %>"><li><img src="<%= car.image %>" width="400"></li></a>
<% end %>

<form method="post" action="/users/<%= current_user.id %>/delete">
  <input type="submit" name="_method" value="DELETE">
  
</ul>
