<section class="home">
  <h1>WELCOME TO CARfetch</h1>


  <div class="cars pure-g">  
    <% Car.all.each do |car| %>
    <li class="card pure-u-md-2">
      <a href="/cars/<%= car.id %>">
        <img src="<%= car.image %>" width="350" height="200">
      </a>
    </li>

    <% end %>
  </div> 
</section>
