<h1>HOME</h1>



<div class="pure-g car-home">  
  <% Car.all.each do |car| %>
  <li class="pure-u-md-2 car-item">
    <a href="/cars/<%= car.id %>">
      <img src="<%= car.image %>" width="400">
    </a>
  </li>

  <% end %>
</div>
