<h1>HOME</h1>



<div class="pure-g">
    <div class="pure-u-lg-1">  
    <% Car.all.each do |car| %>
    <a href="/cars/<%= car.id %>">
    <img src="<%= car.image %>" width="400">
    </a>
    <% end %>
    </div>
</div>