<h1>ALL CARS</h1>

<ul>
<% @cars.each do |car| %>
  <li><%= car.model %></li>
  <img src="<%= car.image %>" width="300">  
  <a href="/cars/<%= car.id %>/edit">Edit</a>
  <a href="/cars/<%= car.id %>/edit">Delete</a>
<% end %>
</ul>