<form class="pure-form pure-form-stacked" method="post" action="/register">
  <fieldset>
    <legend>Register</legend>

    <label for="email">Email</label>
    <input name="user[email]" id="email" type="email" placeholder="Email">

    <label for="username">Username</label>
    <input name="user[user_name]"id="username" type="username" placeholder="Username">

    <label for="password">Password</label>
    <input name="user[password]" id="password" type="password" placeholder="Password">

    <label for="dealer" class="pure-radio">
    <input id="dealer" type="radio" name="optionsRadios" value="dealer">
        I am a dealer!
    </label>

    <label for="user" class="pure-radio">
      <input id="user" type="radio" name="optionsRadios" value="user" checked>
      I am a costumer!
    </label>
    <button type="register" class="pure-button pure-button-primary">Register</button>
  </fieldset>
</form>