
<section class="register"> 

    <div class="pure-g">
        <li class="pure-u-1">
            <form class="pure-form pure-form-stacked" class="register" method="post" action="/register">
              <fieldset>
                <legend>Register</legend>

                <label for="email">Email</label>
                <input name="user[email]" id="email" type="user_email" placeholder="Email">

                <label for="username">Username</label>
                <input name="user[user_name]"id="username" type="username" placeholder="Username">

                <label for="password">Password</label>
                <input name="user[password]" id="password" type="user_password" placeholder="Password">

                <label for="dealer" class="pure-radio">
                    <input id="dealer" type="radio" name="user[user_type]" value="dealer">
                    I sell cars
                </label>

                <label for="user" class="pure-radio">
                    <input id="user" type="radio" name="user[user_type]" value="user" checked>
                    I buy cars
                </label>

                <label for="dealer[dealership]">Name of dealership</label>
                <input name="dealer[dealership]" type="name" placeholder="Name of dealership">

                <label for="dealer[email]">Email</label>
                <input name="dealer[email]" type="dealer_email" placeholder="Dealership email">

                <label for="dealer[image]">Image</label>
                <input name="dealer[image]" type="name" placeholder="Image URL">

            </fieldset>

            <button type="register" class="pure-button pure-button-primary">Register</button>
            </form>
        </li>
    </div> 
</section>